* {
    margin: 0px;
}

.monitors {
    background-image: url(./assets/mv/monitors.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.monitors {
    position: absolute;
    top: 0px;
    left: 0px;
}

/********** TOP RIGHT MONITOR **********/
.tr {
    position: absolute;
    top: 5.9vh;
    left: 78.2vw;
    width: 13.3%;
    height: 26%;
}

/********** ROW 1 **********/
.r1m1 {
    position: absolute;
    top: 18.25vh;
    left: 0vw;
    width: 13.4%;
    height: 26.2%;
}

.r1m2 {
    position: absolute;
    top: 10.05vh;
    left: 16.1vw;
    width: 12.05%;
    height: 21.15%;
}

.r1m3 {
    position: absolute;
    top: 7.7vh;
    left: 31.5vw;
    width: 11.55%;
    height: 25.35%;
}

.r1m4 {
    position: absolute;
    top: 8.7vh;
    left: 44.3vw;
    width: 13.4%;
    height: 23.3%;
    /* opacity: 0; */
}

.r1m5 {
    position: absolute;
    top: 14vh;
    left: 58.1vw;
    width: 16.4%;
    height: 31.2%;
}

.r1m6 {
    position: absolute;
    top: 36.65vh;
    left: 76.4vw;
    width: 9.9%;
    height: 21.1%;
}

.r1m7 {
    position: absolute;
    top: 46.19vh;
    right: 0vw;
    width: 13%;
    height: 25.3%;
}

/********** ROW 2 **********/

.r2m1 {
    position: absolute;
    top: 44.2vh;
    left: 0vw;
    width: 14.3%;
    height: 27%;
}

.r2m2 {
    position: absolute;
    top: 34.4vh;
    left: 15.8vw;
    width: 14%;
    height: 25%;
}

.r2m3 {
    position: absolute;
    top: 40.5vh;
    left: 33.7vw;
    width: 8.6%;
    height: 17.61%;
}

.r2m4 {

}

.r2m5 {

}

.r2m6 {
    position: absolute;
    top: 65.1vh;
    left: 77vw;
    width: 10.9%;
    height: 24.8%;
}

.r2m7 {
    position: absolute;
    bottom: 0vh;
    right: 0vw;
    width: 11.55%;
    height: 21.8%;
}

/********** ROW 3 **********/
.r3m1 {
    position: absolute;
    bottom: 0vh;
    left: 5.45vw;
    width: 11.3%;
    height: 25.9%;
}

.r3m2 {
    position: absolute;
    top: 59.1vh;
    left: 17.55vw;
    width: 11.6%;
    height: 22.5%;
}